.Home__container
    display: grid
    grid-template-rows: 560px
    .content
        display: grid
        grid-template-columns: repeat(2 , 1fr)
        place-items: center
        .black
            display: grid
            place-items: center
            color: white
            row-gap: 5px
        .white
            display: grid
            place-items: center
            row-gap: 5px
