.Home__container
    display: grid
    grid-template-rows: 560px

    @media (max-width: 430px)
        grid-template-rows: 650px

    .content
        display: grid
        grid-template-columns: repeat(auto-fit , minmax(450px , 1fr))
        place-items: center
        padding-top: 80px

        .icon
            display: grid
            place-content: center

            .me
                display: grid
                width: 400px
                height: 400px
                place-items: center

                @media (max-width: 430px)
                    width: 300px
                    height: 300px

        .black
            display: grid
            justify-items: start
            color: white
            row-gap: 15px

            h1
                font-size: 80px

            .red
                color: red

        .white
            display: grid
            place-items: center
            justify-items: start
            row-gap: 5px

            h1
                font-size: 80px

            .red
                color: red

            @media (max-width: 430px)

                h1
                    font-size: 65px

                .red
                    margin-top: 100px
