.About__container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(400px , 1fr))
    place-items: center

    .photo
        background-image: url('./kadyrbek.jpg')
        height: 345px
        width: 400px
        background-position: center
        background-repeat: no-repeat
        background-size: 100% 100%
        border-radius: 50%
    .about
        display: grid
        grid-template-rows: 225px 225px
        place-items: center
        .who
            font-size: 30px
        div
            display: grid
            p
                font-size: 25px
